<h1>Session: <%= @session.date_range %></h1>
<p>Session running <%= @session.date_range %>.</p>

<p><%= link_to "View all sessions", sessions_path %> | <%= link_to "Edit this session", edit_session_path(@session) %></p>
