<% stylesheet 'comments' %>

<% if @pending_comments.empty? %>
	<div id="admin_no_pending_comments" class="ui-corner-all">
		<p>There are <strong>no</strong> pending comments! We are all caught up.</p>
	</div>
<% else %>
	<div id="pending_comments" class="ui-corner-all">
		<h2>Currently pending</h2>
		<%= render :partial => "info", :collection => @pending_comments, :as => :comment, :locals => { :pending => true } %>
	</div>
<% end %>