<div class="student_header ui-corner-tl ui-corner-tr">
	<h3><%= student.display_name %></h3> 
	<span class="age">(<%= student.age %> years old as of <%= format_date(student.birthday) %>)</span>
</div>