<table class="required_forms">
	<tr>
		<td class="complete"><%= link_to root_path do %>Classroom info form <span class="edit">VIEW / EDIT</span><% end %></td>
		<td class="incomplete"><%= link_to root_path do %>Emergency contact form <span class="edit">COMPLETE FORM NOW</span><% end %></td>
		<td class="complete"><%= link_to root_path do %>Teacher recommendation <span class="edit">VIEW / EDIT</span><% end %></td>
	</tr>
</table>