<% stylesheet 'camp' %>
<%= render :partial => "layouts/about_nav" %>

<h1>Discounts</h1>
<p>Don't miss out on our great discounts!</p>

<h2>Early bird discount: $50 off</h2>
<p>Register by February 15th, 2011</p>

<h2>Family discount: 5% off</h2>
<p>Take 5% off each additional sibling</p>

<h2>Double session discount: $200 off</h2>
<p>Register in both sessions offered</p>

<h2>Referral program: 10% off</h2>
<p>Refer 3+ friends to join you at camp</p>