<%= render :partial => "layouts/about_nav" %>

<h1>Just outside of Philadelphia</h1>
<p>LinguaZone Language Camps run at two prestigious independent schools in Suburban Philadelphia.</p>

<div>
	<%= image_tag "camp/locations/Episcopal_logo.jpg", :class => "floatRight" %>
	<h2>The Episcopal Academy</h2>
	<p>Programs for ages 4 - 17, during these weeks.</p>
	<p>Languages: x, y, z.</p>
	<p>Details: ....</p>
</div>

<div>
	<%= image_tag "camp/locations/Haverford_logo.jpg", :class => "floatRight" %>
	<h2>The Haverford School</h2>
	<p>Programs for ages 4 - 10, during these weeks.</p>
	<p>Languages: Spanish.</p>
	<p>Details: ....</p>
</div>