<% stylesheet 'camp' %>

<%= render :partial => "layouts/about_nav" %>

<h1>From June 27 - August 5, 2011</h1>
<p>We're looking forward to seeing you this summer!</p>

<div id="schedule">
	<h2>Ages 4-10</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Ages 4 - 10", @young_camp_courses, false, false) %>
	</table>

	<h2>Ages 11-17</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Ages 11 - 17", @old_camp_courses, false, false) %>
	</table>
	
	<h2>Fees</h2>
	<p><strong>Application fee:</strong> $50</p>
	<p><strong>May 1st, 2011:</strong> Application fee and 1/2 tuition deposit due</p>
	<p><strong>June 15th, 2011:</strong> Remaining balance due</p>
	<p><strong>Late application fee:</strong> $100 (for all applications received after May 1, 2011)</p>
</div>