<% stylesheet 'camp' %>

<%= render :partial => "layouts/about_nav" %>

<h1>From July 8 - August 2, 2013</h1>
<p>We're looking forward to seeing you this summer!</p>

<h2>Camp tuition</h2>
<p>
	<strong>One session:</strong> $1425 (2 weeks)<br />
	<strong>Both sessions:</strong> $2350 (4 weeks)
</p>

<div id="schedule">
	<h2>Ages 5-10</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Ages 5 - 10", @young_camp_courses, false, false) %>
	</table>

	<h2>Ages 11-17</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Ages 11 - 17", @old_camp_courses, false, false) %>
	</table>
</div>

<h2>Additional fees</h2>
<p>
	<strong>Application fee:</strong> $50<br />
	<strong>May 15th, 2013:</strong> Application fee and 1/2 tuition deposit due<br />
	<strong>June 15th, 2013:</strong> Remaining balance due<br />
	<strong>Late application fee:</strong> $100 (for all applications received after May 15th, 2013)
</p>