<% stylesheet 'camp' %>

<%= render :partial => "layouts/about_nav" %>

<h1>From June 28 - August 5, 2011</h1>
<p>We're looking forward to seeing you this summer!</p>

<div id="schedule">
	<h2>Ages 4-10</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Ages 4 - 10", @young_camp_courses, false, false) %>
	</table>

	<h2>Ages 11-17</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("Ages 11 - 17", @old_camp_courses, false, false) %>
	</table>
</div>