<%= render :partial => "layouts/about_nav" %>

<h1>A typical day at LZ Camp</h1>
<p>Make no mistake about it: LinguaZone Language Camp is a <em>camp</em>, and we sure do act like one! Our days are a balance of focus and fun, helping students accomplish an incredible amount without feeling like "summer school".</p>

<h2>Our schedule: 8:30 - 2:30</h2>
<p><strong>Morning</strong> Engaging, activity-based language learning focused on grammar, vocabulary, conversation, and reading and writing skills.</p>
<p><strong>Multilingual lunch</strong> Brown bag lunch with games and conversation.</p>
<p><strong>Afternoon</strong> Projects of all kinds and opportunities to practice what is learned in the morning.</p>