<%= render :partial => "layouts/about_nav" %>

<h1>A typical session</h1>
<p>Our younger campers, ages 5 - 10, join us for two weeks at a time. Older campers, ages 11 - 17, join us at camp for two weeks at a time. Every session takes on the unique flavor of the students, with key experiences we all share.</p>

<h2>Opening activities</h2>
<p>Although campers are studying many different languages, we are committed to fostering a single, supportive community of language learners at camp. We start every session with group activities to prepare campers for what it is like to communicate in a language other than their own.</p>

<h2>Themes</h2>
<p>Throughout the weeks of each session, themes develop that enable classes to share common experiences across the many languages we offer. For example: challenges and scavenger hunts may require classes to compete or collaborate, regardless of their language and level. A multicultural restaurant at lunchtime may require the input of all students. Past themes have included international travel and World Cup Week.</p>

<h2>Performances</h2>
<p>Some classes decide to invite parents to weekly shows highlighting skits and skills developed during the week.</p>

<h2>Closing ceremonies</h2>
<p>Every session culminates with exciting, multicultural events. Some recent favorites: an international art heist, the Linguistic Iron Chef Challenge, and LinguaZone Olympics.</p>