<h1>Session: <%= @term.date_range %></h1>
<p>Session running <%= @term.date_range %>.</p>

<p><%= link_to "View all sessions", terms_path %> | <%= link_to "Edit this session", edit_term_path(@term) %></p>
