/* ~~~	Schedule	~~~	*/
div#schedule {
	margin-left: 28%;
}

/* ~~~	Languages	~~~	*/
div#available_languages a {
	margin: 10px 5px;
}

/* ~~~	Locations	~~~	*/
div.schools {
	width: 620px;
	float: right;
}
div.schools div.school {
	margin-bottom: 30px;
}