<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>We have received your application.</h1>
    <p>The rest of the process takes just a few extra minutes of your time.</p>
	<p><%= debug @reg %></p>
	<p>To make sure we place your child in an appropriate class, please make sure to fill out this form... and have a teacher submit this form...</p>
    <p>many thanks,</p>
	<p>Colin Angevine and Margaret Roberts</p>
	<p>Directors, LinguaZone<br />215.948.2153<br />info@lzacademy.com</p>
  </body>
</html>