<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Cancelation confirmed.</h1>
    <p>This email is to confirm that you have cancelled your registration in ___ with LZ Academy..</p>
    <p>many thanks,</p>
	<p>Colin Angevine and Margaret Roberts</p>
	<p>Directors, LinguaZone<br />215.948.2153<br />info@lzacademy.com</p>
  </body>
</html>