<div style="text-align: left;">
	<h2>French I</h2>
	<p>The primary goal of the French I course is to help students begin to develop linguistic proficiency and cultural sensitivity. Through a communicative based approach methodology, students will be exposed to all four skills of the language: reading, writing, speaking and listening. Students will be introduced to the fundamental functions of the French language beginning with greetings and introductions; asking how someone is; how old someone is, where someone is from; talking about likes and dislikes, what one needs and wants; describing people and things; telling time; giving the date; talking about the weather; discussing things families do together, problems and giving advice.</p>
	<p>Some grammar topics will include:</p>
	<ul>
		<li>subject pronouns</li>
		<li>common irregular verbs</li>
		<li>questions words </li>
		<li>definite and indefinite articles </li>
		<li>nouns and adjectives </li>
		<li>gender and agreement </li>
		<li>regular conjugations</li>
		<li>present tense</li>
		<li>expressions with <em>avoir</em> and <em>être</em></li>
		<li>immediate future</li>
		<li><em>passé composé</em></li>
	</ul>
	<p>Just as culture is an intrinsic part of language, it is also an intrinsic component to each session. In addition to what is presented in class, students will be exposed to culture and language through a variety of other resources. The class will be almost exclusively conducted in French to ensure that students have maximum exposure and time to practice the target language.</p>
	
	<h2>French II</h2>
	<p>The primary goal of the French II course is to help students to continue their development in linguistic proficiency and cultural sensitivity. Through a communicative based approach methodology, students will be exposed to all four skills of the language: reading, writing, speaking and listening. Students will review the fundamental functions of the French language beginning with greetings and introductions and end the class with more complex structures that require quick transitions in tenses in both verbal and written activities (i.e. from the present to the passé composé and imperfect).</p>
	<p>Some grammar topics will include:</p>
	<ul>
		<li>verb tenses: <em>present</em>, <em>futur</em>, <em>passé compose</em></li>
		<li>questions words </li>
		<li>definite and indefinite articles </li>
		<li>comparison of adjectives </li>
		<li>commands </li>
		<li>l’imparfait et le passé composé</li>
		<li>idiomatic expressions with prepositions</li>
		<li>demonstrative and possessive adjectives </li>
	</ul>
	<p>Just as culture is an intrinsic part of language, it is also an intrinsic component to each session. In addition to what is presented in class, students will be exposed to culture and language through a variety of other resources. The class will be almost exclusively conducted in French to ensure that students have maximum exposure and time to practice the target language.</p>
	
</div>