<div style="text-align: left;">
	<h2>Latin I</h2>
	<p>The primary goal of the Latin I course is to help students begin to develop grammar and translating skills as well as an understanding of ancient Roman culture.</p>
	<p>Some key grammar topics will include:</p>
	<ul>
	<li>Cases and functions (nominative, genitive, dative, accusative, ablative)</li>
	<li>1st, 2nd, 3rd declensions in masculine, feminine, neuter</li>
	<li>Noun and adjective agreement</li>
	<li>Substantive adjectives</li>
	<li>1st, 2nd, 3rd, 3rd -io, 4th verb conjugations (active voice)</li>
	<li>All tenses (present, future, imperfect, perfect, pluperfect, future perfect)</li>
	<li>Irregular verb "to be"</li>
	<li>Imperative (positive and negative)</li>
	<li>Verb synopses</li>
	<li>Adverbs</li>
	<li>Derivatives, cognates, and assimilation</li>
	</ul>

	<p>Just as culture is an intrinsic part of language, it is also an intrinsic component to each session. In addition to what is presented in class, students will be exposed to culture and language through a variety of other resources, including art, sculpture, and mythology.</p>
	
	<h2>Latin II</h2>
	<p>The primary goal of the Latin II course is to help students to continue their development in linguistic proficiency. Students will review the fundamental functions of the Latin language before continuing to more complex grammatical concepts and advanced translation passages.</p>
	<p>Some grammar topics will include:</p>
	<ul>
		<li>3rd, 3rd i-stem, 4th, 5th declension nouns</li>
		<li>3rd declension adjectives and adverbs</li>
		<li>Passive voice in all verb conjugations and tenses</li>
		<li>Irregular verb "possum"</li>
		<li>Irregular imperatives</li>
		<li>Pronouns (demonstrative, relative, personal, interrogative, intensifying, reflexive)</li>
		<li>Comparison of adjectives and adverbs</li>
		<li>Present, perfect, future infinitives</li>
		<li>Indirect statements</li>
		<li>Participles (present, perfect, future)</li>
		<li>Ablative absolute</li>
	</ul>
	<p>Just as culture is an intrinsic part of language, it is also an intrinsic component to each session. In addition to what is presented in class, students will be exposed to culture and language through a variety of other resources, including art, sculpture, and mythology.</p>

</div>