<div style="text-align: left;">
	<h2>Spanish I</h2>
	<p>The primary goal of the Spanish I course is to help students
	begin to develop linguistic proficiency and cultural sensitivity.
	Through a communicative based approach methodology, students will be
	exposed to all four skills of the language: reading, writing, speaking
	and listening. Students will be introduced to the fundamental
	functions of the Spanish language beginning with greetings and
	introductions; asking how someone is; how old someone is, where
	someone is from; talking about likes and dislikes, what one needs and
	wants; describing people and things; telling time; giving the date;
	talking about the weather; discussing things families do together,
	problems and giving advice.</p>
	  <p>Some grammar topics will include:</p>
		<ul>
			<li>punctuation</li>
			<li>subject pronouns</li>
			<li>the verbs ser and estar</li>
			<li>questions words</li>
			<li>definite and indefinite articles</li>
			<li>nouns and adjectives</li>
			<li>gender and agreement</li>
			<li>-ar, -er and –ir</li>
			<li>present tense verbs</li>
			<li>the present progressive</li>
			<li>immediate future</li>
			<li>the preterit</li>
		</ul>
	  <p>Just as culture is an intrinsic part of language, it is also an
	intrinsic component to each session. In addition to what is presented
	in class, students will be exposed to culture and language through a
	variety of other resources. The class will be almost exclusively
	conducted in Spanish to ensure that students have maximum exposure and
	time to practice the target language.</p>
	
	<h2>Spanish II</h2>
	<p>The primary goal of the Spanish II course is to help students to
	continue their development in linguistic proficiency and cultural
	sensitivity. Through a communicative based approach methodology,
	students will be exposed to all four skills of the language: reading,
	writing, speaking and listening. Students will review the fundamental
	functions of the Spanish language beginning with greetings and
	introductions and end the class with more complex structures that
	require quick transitions in tenses in both verbal and written
	activities  (i.e. from the present to the preterit and imperfect).</p>
	<p>Some grammar topics will include:
		<ul>
			<li>punctuation</li>
			<li>subject pronouns</li>
			<li>the verbs ser and estar</li>
			<li>questions words</li>
			<li>definite and indefinite articles</li>
			<li>nouns and adjectives</li>
			<li>gender and agreement</li>
			<li>-ar, -er and –ir present tense verbs</li>
			<li>the present progressive</li>
			<li>immediate future</li>
			<li>future</li>
			<li>commands</li>
			<li>preterit</li>
			<li>imperfect</li>
			<li>the personal a</li>
			<li>demonstrative and possessive adjectives</li>
			<li>saber vs. conocer</li>
		</ul>
	</p>
	  <p>Just as culture is an intrinsic part of language, it is also an
	intrinsic component to each session. In addition to what is presented
	in class, students will be exposed to culture and language through a
	variety of other resources. The class will be almost exclusively
	conducted in Spanish to ensure that students have maximum exposure and
	time to practice the target language.</p>
	
	<h2>Spanish III</h2>
	<p>The primary goal of the Spanish III course is to help students
	sharpen their skills in linguistic proficiency and cultural
	sensitivity. Through a communicative based approach methodology,
	students will be exposed to all four skills of the language: reading,
	writing, speaking and listening. Students will review the fundamental
	functions of the Spanish language before learning new topics and more
	sophisticated grammar. By the end of the course students will be
	weaving together the structures through literary texts and film.</p>
	<p>Just as culture is an intrinsic part of language, it is also an
	intrinsic component to each session. In addition to what is presented
	in class, students will be exposed to culture and language through a
	variety of other resources. The class will be almost exclusively
	conducted in Spanish to ensure that students have maximum exposure and
	time to practice the target language.</p>
</div>