<div style="text-align: left;">
	<h2>Spanish Explorers</h2>
	<p>The primary goal of the Spanish Explorers program is to expose students to Spanish within a context that encourages them to begin to take risks in and have an appreciation for the target language. Through a communicative based approach methodology, students will be learning:  facts about the weekly country picks, vocabulary and daily phrases that apply to the activities and places being learned. Through art, cooking, reading, music and hands on activities they will be inspired to learn.</p>
	<br />
	<p>Each week, a different country is our inspiration.  Through our travels we will learn Spanish vocabulary and expressions that will be reinforced through hands on activities. Some of the topics that we will cover over the weeks are:</p>
	<ul>
		<li>Greetings</li>
		<li>Numbers</li>
		<li>Colors</li>
		<li>Months</li>
		<li>Seasons</li>
		<li>Days of the Week</li>
		<li>Animals</li>
		<li>Basic Expressions</li>
		<li>Locations</li>
		<li>Geography</li>
		<li>Weather</li>
	</ul>
</div>