<% content_for :head do %>
<%= formtastic_stylesheet_link_tag %>
<% end %>

<% content_for :page_script do %>
$(function() {
	$(".phone_number").keyup(function() {
		var curchr = this.value.length;
		var curval = $(this).val();
		if (curchr == 3) {
			$(this).val("(" + curval + ")" + " ");
		} else if (curchr == 9) {
			$(this).val(curval + "-");
		}
	});
});
<% end %>

<h1>Information form</h1>
<p>Edit your information form. Thank you for keeping this information up-to-date.</p>

<%= render :partial => "form" %>