<% stylesheet 'school' %>

<%= render :partial => "layouts/about_nav" %>

<h1>Classes during the school year</h1>
<p>Registration is open to all students attending New Eagle Elementary. Registration is currently closed for the Winter Session.</p>

<div id="schedule">
	<h2>Ages 4-10</h2>
	<table class="course_listings">
		<%= build_course_header_and_rows("K - 4th Grade", @new_eagle_courses, false, true) %>
	</table>
</div>