<%= render :partial => "layouts/about_nav" %>

<h1>Contact us</h1>
<p>We would love to hear from you! We answer all questions promptly and personally. We are happy to help you find the right program for your child.</p>

<h2>By email</h2>
<p>Send us a note! Email us at <strong><%= mail_to "info@lzacademy.com", "info@linguazone.com", :subject => "A note about LinguaZone Language Academy" %></strong>.<p>

<h2>By phone</h2>
<p>Give Colin a call directly: <strong>215.948.2153</strong></p>

<h2>By snail mail</h2>
<p>
	LinguaZone Language Academy<br />
	417 Yorkshire Rd<br />
	Bryn Mawr, PA 19010
</p>