<%= render :partial => "layouts/about_nav" %>


<h1>Our teachers</h1>

<p>LinguaZone teachers are fluent and native speakers of the languages we teach. Experienced, and great at working with different levels in a single group.</p>

<p>Get to know some of our teachers at our summer camp and year-round locations:</p>
<ul>
	<li>
		<p><strong>Margaret Roberts</strong>, camp director, co-founder</p>
		<p>Margaret is the co-founder of LinguaZone and creator of the <%= link_to "Prima Lingua", "http://www.primalingua.net" %> language program, has been a language teacher for the past 22 years. Having taught Latin at The Springside School and Friends' Central School for most of those years, she has also worked with numerous schools along the East Coast, helping them develop their language programs. Margaret works as a consultant to schools who are adopting Prima Lingua as part of their language curriculum and enables them to create an integrated and successful language program as a whole from Kindergarten through high school. Margaret trains language teachers with a committment to helping them to teach by creating experiences for the students through which they can make observations about the language and through which they can ground their studies in their personal interests and strengths. A frequent presenter at language conferences around the country, Margaret's workshops are a favorite of attendees who take with them new ways to engage students in the play of language learning.</p>
		<p>In founding the LinguaZone Language Camps, Margaret hopes to bring the experience of language study to students who are eager to continue what they have started at school or to branch into the study of languages that they would not otherwise have the opportunity to learn. She oversees faculty, curriculum, and student placement.</p>
	</li>
	<li>
		<p><strong>Colin Angevine</strong>, camp director, co-founder</p>
		<p>Colin Angevine is a co-founder of LinguaZone and the director of LinguaZone Language Camps at the Episcopal Academy. Colin founded LinguaZone.com with Margaret Roberts in 2005 to allow teachers to play customized, online language games with their students. The site engages students through colorful, fun "webgames" and cutting-edge technology while simultaneously establishing pedagogically sound language learning skills. Since its inception only a few short years ago, LinguaZone.com has spread to classrooms around the country. Colin is thrilled to take the engaging, experience-based LinguaZone approach to language learning off the web and into summer programs with LinguaZone Language Camps this year.</p>
		<p>Colin has also developed online resources to supplement the teaching of Prima Lingua, the introductory language course created by Margaret Roberts. In addition, he trains and collaborates with teachers to integrate technology into effective language-teaching pedagogy. He received his B.A. from Dickinson College in Classics and Computer Science. For the past 5 years, Colin has been a private tutor for Latin students at the elementary, middle, and high school levels.</p>
	</li>
	<li>Mary Brown</li>
	<li>Katherine Schogol Pidot</li>
	<li>Ana B. Hernandez</li>
	<li>Hailin Zhou</li>
	<li>Sonja Srama-Souder</li>
	<li>Seth Thayer Pidot</li>
	<li>Gabriele Albrecht</li>
	<li>Bianca Magello</li>
	<li>Scott Pryor</li>
</ul>