<%= render :partial => "layouts/about_nav" %>

<h1>Our story</h1>
<p>LinguaZone was founded by Margaret Roberts and Colin Angevine in 2005 to encourage the love of language learning in young students. Their <%= link_to "website", "http://www.linguazone.com" %> featuring a comprehensive array of online games and language teaching tools has become an integral part of language classroom programs around the nation and in several countries. <%= link_to "Prima Lingua", "http://www.primalingua.net" %>, their innovative introductory language curriculum, has revolutionized language education at many prestigious U.S. schools. In addition to summer camps, LinguaZone Language Academy offers Saturday classes and before- and after-school programs for young students during the school year.</p>

<p>If you're interested in learning more, please <%= link_to "contact us directly", about_contact_path %>.</p>