<%= render :partial => "layouts/about_nav" %>

<h1>Our Philosophy</h1>

<p>Engaging, activity-based programs to build proficiency and self-confidence in world languages and communication.</p>

<h2>Experiences. Activities. Proficiency.</h2>
<p>What is the best way to learn a language? To live in a place and with people who speak that language? How do we create that here, in a local setting?</p>

<p>Students learn while they are up and moving, engaged in activities, connecting what they learn to experiences. We create those experiences so students can retain the vocabulary and structures they learn more easily, and so that they can learn to communicate in real situations. Students become engaged learners and communicators,	and in the end, appreciate how much fun it is and useful it is to speak another language &mdash; to become global citizens.</p>

<p>LinguaZone students do not simply memorize lists of vocabulary, but instead learn colors by painting a mural, learn numbers by creating a shop to buy and sell, learn commands by playing kickball, follow directions in another language by completing a scavenger hunt.</p>