<%= render :partial => "layouts/about_nav" %>

<div id="alignRightContent">
	<h1>What you have to say</h1>
	<p>Don't just take our word for it &mdash; here's what our students and their parents have to say about LinguaZone Academy.</p>

	<h2>From the students...</h2>
	<blockquote>
		I knew it was a camp and everything, but I had no idea it would be so much FUN!
		<cite>- 12 year-old Spanish language camper</cite>
	</blockquote>

	<h2>From the parents...</h2>
	<blockquote>
		It was a fun camp experience with lots of learning. My son would definitely recommend this camp!!
		<cite>- Parent of a German language camper</cite>
	</blockquote>

	<blockquote>
		My son has had a very rewarding experience at LinguaZone over the past three weeks.  I feel so much better about his starting 8th grade Latin now! ...You rock!
		<cite>- Parent of a Latin language camper</cite>
	</blockquote>

	<blockquote>
		My daughter's knowledge of and confidence in French greatly improved during the session. She had a blast! ...LinguaZone Language Camp exceeded her expectations and ours.
		<cite>- Parent of a French language camper</cite>
	</blockquote>
</div>