<ul>
	<li><%= link_to "HOME" , root_path %></li>
	<li><%= link_to "CONTACT US" , about_contact_path %></li>
</ul>
<ul class="login">
	<li><%= link_to "PARENTS", new_parent_session_path %></li>
	<li><%= link_to "TEACHERS", new_teacher_session_path %></li>
</ul>